.votero-span {
	color:#B0B0B0;
	transition:all 0.2s ease;
	width:2.9em;
	float:left;
	cursor:pointer;
}

/* Display styles. */
.votero-underneath {
	width:1.8em;
	margin-bottom:-0.2em;
}

.votero-stars {
	width:1em;
}

/* Buttons. */
.votero-selected .votero-button {
	color:inherit!important;
}

.votero-button {
	transition:all 0.2s ease;
	color:#B0B0B0;
}

.votero-button:hover {
	transition:all 0.2s ease;
	color:#585858;
}

/* Text. */
.votero-text {
	transition:all 0.2s ease;
	position:relative;
	/*left:.1em;
	top:-.1333em;*/
	font-size:0.8em;
	color:#B0B0B0;
}

.votero-selected .votero-text {
	color:inherit;
}

.votero-underneath .votero-text {
	font-size:0.5em;
	position:relative;
	top:-0.75em;
}

/* Animation: Pulse when selected. */
.votero-anim-selected {
	-webkit-animation: votero-anim-1 0.2s ease-in-out 1 normal;
}
@-webkit-keyframes votero-anim-1 {
	0% { -webkit-transform: scale(1); }
	25% { -webkit-transform: scale(1.2); }
	75% { -webkit-transform: scale(0.8); }
	100% { -webkit-transform: scale(1); }
}

